In [2]:
import pandas as pd
ss = pd.read_csv("sysselsättning.csv")

                                       Befolkningen 16+ år efter sysselsättning, ålder, kön och år
sysselsättning       ålder    kön                                                   2019
förvärvsarbetande    16-19 år män                                                  58826
                              kvinnor                                              72847
                     20-24 år män                                                 192696
                              kvinnor                                             174074
                     25-29 år män                                                 293352
                              kvinnor                                             268587
                     30-34 år män                                                 303019
                              kvinnor                                             271975
                     35-39 år män                                                 280522
                              kvinnor                                             255391
                     40-44 år män                                                 275085
                              kvinnor                                             260093
ej förvärvsarbetande 16-19 år män                                                 176860
                              kvinnor                                             143432
                     20-24 år män                                                 117928
                              kvinnor                                             103001
                     25-29 år män                                                  86633
                              kvinnor                                              91124
                     30-34 år män                                                  64162
                              kvinnor                                              76735
                     35-39 år män                                                  53373
                              kvinnor                                              61312
                     40-44 år män                                                  46857
                              kvinnor                                              49228